.tool-box {
    margin-top: 24px;
}

.custom-tab {
    padding-left: 12px;
    padding-right: 12px;
}

.custom-card {
    padding: 12px;
    border-width: 0.2rem 0.2rem 0.2rem !important;
    border-color: #eeeeee !important;
    min-height: 200px;
    overflow: scroll;
}